.color_border_red{
    border: 1px solid red;
}

.color_is_invalid{
    border: 1px solid red!important;
}

.color_is_invalid_error{
    border: 1px solid red!important;
}

.invalid_feedback{
    color: red!important;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}